@use "./variables" as var;

.film-credits {
    padding: 64px 32px;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto auto auto ;
    gap: 1.2rem;

    &__image {
        background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent), url("/dist/images/kleber.jpg");
        grid-row: span 3;
        width: 320px;
        height: 640px;
        background-size: cover;
        border-radius: var.$rounded-xs;
        background-position: 10% 50%;
        display: flex;
        flex-direction: column;
        color: var.$color-white;
        justify-content: flex-end;
        padding: 20px;

        h3 {
          font-family: var.$secondary-font;
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 2px;
          margin-bottom: 1rem;
        }
        h2 {

          font-size: var.$text-h2;
          line-height: .8;
        }
    }

    &__director-dop {
      display: flex;
      grid-column: span 2;
      background-color: var.$color-black;
      color: var.$color-white;
      border-radius: var.$rounded-xs;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        width: 100%;
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto ;
        padding: 20px;
        border-right: 1px dashed var.$color-white;
        row-gap: 1rem;

        &:last-child {
          border-right: none;
        }
        h2 {
          height: 100%;
          font-size: var.$text-h2;
          width: 14ch;
          line-height: .8;
          text-align: center;
          justify-self: center;
          align-self: center;

        }

        h3 {
          font-family: var.$secondary-font;
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 2px;
          align-self: flex-start;
          justify-self: center;
        }
      }
    }

    &__producers {
      grid-column: span 2;
      border-radius: var.$rounded-xs;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      height: fit-content;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: grid;
        grid-template-areas: "title" "name";
        grid-template-columns: 1fr;
        grid-template-rows: 1r 1fr ;
        
        &:nth-child(2) {

          h3 {
            border-radius: 0;
          }

          div{

            border-radius: 0 0 0 0;
            border: none;
            border-bottom: 1px dashed var.$color-black;
          }
            
          }

          &:last-child {

            h3 {
              border-radius: 0 6px 0 0;
            }
            div {
              border-radius: 0 0 6px 0;
            }
          }
        h3 {
          align-self: center;
          grid-area: title;
          background-color: var.$color-black;
          color: var.$color-white;
          padding: 20px;
          text-align: center;
          font-family: var.$secondary-font;
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 2px;
          border-radius: 6px 0 0 0;
        }
        div {
          width: 100&;
          border: 1px dashed var.$color-black;
          border-radius: 0 0 0 6px;
          border-top: none;
          padding: 1rem;
          display: flex;
          justify-content: center;

          h2 {
          grid-area: name;
          font-size: var.$text-h2;
          text-wrap: wrap;
          width: 8ch;
          line-height: .8;
          text-align: center;
        }

        }
        
      }
    }

    &__main-crew {
      grid-column: span 2;
      border-radius: var.$rounded-xs;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto;
      border-radius: var.$rounded-xs;

      &__title {
        grid-column: span 2;
        background-color: var.$color-black;
        color: var.$color-white;
        border-radius: 6px 6px 0 0;
        font-family: var.$secondary-font;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
        text-align: center;
        padding: 1rem;
      }

      

      
}}

.actors {
    grid-column: span 2;
    display:  flex;
    border: 1px dashed var.$color-black;
    border-top: none;
    list-style: none;
    padding: 0;
    margin: 0;
    
    &__item {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto ;
        width: 100%;
        row-gap: 1rem;

        h2 {
            font-size: var.$text-h3;
            line-height: .8;
            justify-self: center;
            align-self: center;
            text-align: center;
            padding-bottom: 1rem;
        }

       h3 {
        font-family: var.$secondary-font;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
        text-align: center;
        justify-self: center;
        align-self: center;
        padding-top: 1rem;
       }
    }
      }

.music {
    grid-column: span 2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto ;
    border: 1px dashed var.$color-black;
    border-top: none;
    border-radius: 0 0 var.$rounded-xs var.$rounded-xs;
    row-gap: 1rem;
    
    h2 {
        font-size: var.$text-h3;
        line-height: .8;
        justify-self: center;
        align-self: center;
        text-align: center;
        padding-bottom: 1rem;
    }


    h3 {
        font-family: var.$secondary-font;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
        text-align: center;
        justify-self: center;
        align-self: center;
        padding-top: 1rem;
    }

}