@use "./variables" as var;

.gallery {
    height: 100vh;    
    background-color: var.$color-black;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto ;
    gap: 1rem;
    padding: 2rem;

    &__title {
        color: var.$color-white;
        font-family: var.$secondary-font;
        text-transform: uppercase;
        align-self: center;
        justify-self: center;
        font-size: var.$text-h4;
    }

    &__images {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto ;
        height: fit-content;
        width: 100%;
        gap: 1rem;

        img {
            width: 100%;
            height: 400px;
            object-fit: cover;
            border-radius: var.$rounded-sm;
            aspect-ratio: 1/1;

            &:nth-child(1) {
                grid-column: span 2;
                aspect-ratio: 16/9
                
            }

            &:nth-child(4) {
                grid-column: span 2;
                aspect-ratio: 16/9

            }
        }
        
    }


}
