@use "./variables" as var;

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;

        &__image {
        width: 100%;
        height: 75vh;
        z-index: -1;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent), url("../images/herosection.jpg");
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;

    }

    &__content {
     background-color: var.$color-white;
     width: 100%;
     height: 25vh;
     display: grid;
     grid-template-rows: 1fr 1fr 1fr;
     align-items: center;
     
     justify-content: center;
     padding: 32px 0 32px 0;  



        &__title {
            font-size: var.$text-h1;
            width: 100%;
            text-align: center;
        }
        &__subtitle {
            font-size: 14px;
            font-family: var.$secondary-font;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 400;
            width: 100%;
            text-align: center;
        }
        &__figure {
            display: flex;
            align-items: center;
            justify-content: center;
            justify-self: center;
            width: 32px;
            height: 32px;
            background-color: var.$color-black;
            border-radius: 100%;
            svg {
                color: var.$color-white;
                width: 32px;
                height: 16px;
            }
        }
    }
}