@use "./variables" as var;
@use "./mixins" as mix;

.ticket {
    cursor: pointer;
    display: flex;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.3));
   
    &__options {
      @include mix.cut-corners(var.$cut-size);
  
      width: 105px;
      height: 103px;
      display: flex;
      align-items: center;
      justify-content: center;   
        &:hover {
            filter:brightness(0.9);
        }
    }
    
    &__info {
      display: flex;
      flex-direction: column;
      width: 237px;
      height: 103px;
      background-color: var.$color-white;

      @include mix.cut-corners(var.$cut-size);

      &__header {
        display: flex;
        align-items: start;
        gap: 10px;
        padding: 16px 16px 0px 12px;
        height: 100%;
      }

      &__poster {
        width: 38px;
        height: 38px;
        object-fit: cover;
        border-radius: var.$rounded-xs;
      }

      &__title {
        font-size: 20px;
      }

      &__arrow {
        cursor: pointer;
        margin-left: auto;
        transition: transform .2s ease-in-out;
      }

      &__footer {
        display: flex;
        align-items: center;
        padding: 0px 8px;
        border-top: 1px solid var.$color-black;
        justify-content: space-around;
        list-style: none;
        margin: 0;

        &__item {
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          height: 24px;
          width: 30%;

          &:nth-child(2) {
            border-right: 1px solid var.$color-black;
            border-left: 1px solid var.$color-black;
          }

          span {
            font-size: 9px;
            font-family: sans-serif;
            letter-spacing: 2px;
            opacity: 0.7;
          }
        }
      }
    }
    &__synopsis {
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      width: 237px;
      height: 140px;
      background-color: var.$color-white;
      
      // Hidden state for animation
      max-height: 0;
      opacity: 0;
      overflow: hidden;

      @include mix.cut-corners(var.$cut-size);

      &__text {
        font-size: 12px;
        opacity: .5;
        font-family: sans-serif;
        padding: 12px 14px;
        line-height: 14.4px;
        letter-spacing: -0.2px;
      }

      hr {
          border-top: 1px dashed rgba(0, 0, 0, 0.5);

      }

      &__stars {
        display: flex;
        align-items: center;
        padding: 8px 14px;
        gap: 6px;
        

        svg {
          width: 70px;
          height: 12px;
        }

        span {
            font-size: 10px;
            font-family: sans-serif;
        }
      }
    }  
    
}

.ticket__options__content {
    @include mix.cut-corners(var.$cut-size);

    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 105px;
    height: 140px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    hr {
      width: 100%;
          border-top: 1px dashed rgba(0, 0, 0, 0.5);

      }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var.$color-black;
      transition: opacity 0.2s;
      background-color: var.$color-white;
      border-radius: 100%;
      width: 42px;
      height: 42px;

      &:hover {
        filter: brightness(0.9);
      }
    }
}

.active {
  max-height: 140px; /* Match height of synopsis */
  opacity: 1;
}

.rotate {
  transform: rotate(180deg);
}