$color-white: #faf7ef;
$color-black: black;

$cut-size: 8px;

$text-h1: 5.6rem;
$text-h2: 3.2rem;
$text-h3: 3rem;
$text-h4: 2rem;

$rounded-xs: 6px;
$rounded-sm: 12px;

$main-font: "Bebas Neue", sans-serif;
$secondary-font: "Playfair Display", serif;